---
import Container from '~/components/ui/Container.astro';
import Typography from '~/components/ui/typography/Typography.astro';
import TwoGridColumnCard from './TwoGridColumnCard.astro';
import type { OffsetTwoRowGridStoryblok } from '~/types/storyblok';
import type { BlokProps } from '~/types/storyblok.custom';
import { makeEditable } from '~/utils/storyblokRepository/helpers';

type Props = BlokProps<OffsetTwoRowGridStoryblok>;

const { blok } = Astro.props;
const { header, cards } = blok;
---

<div class="relative overflow-hidden bg-gray-50 py-4 sm:py-8 lg:py-12" {...makeEditable(blok)}>
  <Container>
    <div class="absolute top-[196px] hidden translate-x-[-96px] transform lg:block">
      <svg width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern
            id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
      </svg>
      <svg width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
          <pattern
            id="74b3fd99-0a6f-4271-bef2-e80eeafdf357"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse"
          >
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-20"
    >
      <div class="">
        <Typography as="h2" variant="mediumHeading" class="text-primary-900">{header}</Typography>
      </div>
      <div class="col-span-2 grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:gap-x-8 lg:gap-y-20">
        {cards?.map((card) => <TwoGridColumnCard blok={card} />)}
      </div>
    </div>
  </Container>
</div>
