.underline {
  position: relative;

  &::after {
    content: ' ';
    z-index: -1;
    position: absolute;
    left: -4px;
    bottom: 0;
    border-bottom: var(--color-primary-400) solid 4px;
    width: calc(100% + 8px);
  }
}
