---
import Typography from '~/components/ui/typography/Typography.astro';
import type { OfficeStoryblok } from '~/types/storyblok';
import type { BlokProps } from '~/types/storyblok.custom';
import { makeEditable } from '~/utils/storyblokRepository/helpers';

type Props = BlokProps<OfficeStoryblok>;

const { blok } = Astro.props;
const { title, body } = blok;
---

<div {...makeEditable(blok)}>
  <Typography as="h5" variant="h5" class="text-primary-900">{title}</Typography>
  <Typography as="p" variant="body" class="mt-2 text-primary-700">
    {body ? body.map(({ text }) => <span class="block break-words ">{text}</span>) : null}
  </Typography>
</div>
